<h1>
  Order # <%= @order.id %>
</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      <span class="label label-primary">
        <%= @order.status.humanize %>
      </span>
    </div>
    # <%= @order.id %>
    <%= @order.created_at.strftime("%m/%d/%Y") %>
  </div>

  <div class="panel-body">
    <%= form_for(@order, url: admin_order_path) do |f| %>
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control form-control-large',
          placeholder: 'Enter first name' %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control form-control-large',
          placeholder: 'Enter last name' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control form-control-large',
          placeholder: 'Enter email' %>
      </div>

      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control form-control-large',
          placeholder: 'Enter phone number' %>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <%= f.label :country, 'Country or Region' %>
            <%= f.text_field :country, class: 'form-control form-control-large',
                placeholder: 'Enter country or region' %>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <%= f.label :province, 'State' %>
            <%= f.text_field :province, class: 'form-control form-control-large',
                placeholder: 'Enter state or province' %>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <%= f.label :city %>
            <%= f.text_field :city, class: 'form-control form-control-large',
                placeholder: 'Enter city' %>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <%= f.label :zip, 'ZIP' %>
            <%= f.text_field :zip, class: 'form-control form-control-large',
                placeholder: 'Enter zip' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :street %>
        <%= f.text_field :street, class: 'form-control form-control-large',
          placeholder: 'Enter address' %>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <%= f.label :shipper_id, 'Shipper' %>
          <%= f.select :shipper_id, options_for_select(Shipper.all.map {|shipper| [shipper.name, shipper.id]}), {}, class: "form-control" %>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.label :shipping_number %>
            <%= f.text_field :shipping_number, class: 'form-control form-control-large',
                placeholder: 'Shipping Number' %>
          </div>
        </div>
      </div>

      <div class="pull-right">
        <%= f.submit '保存', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <table class="table">
    <% @order.order_items.each do |item| %>
      <tr>
        <td class="col-sm-8 col-md-6 cart-item-image">
          <div class="media">
            <div class="media-left">
              <%= link_to product_path(item.product.id, item.product.name) do %>
                <%= image_tag(item.product.default_image(:small), width: 50, class: "media-object") %>
              <% end %>
            </div>
            <div class="media-body">
              <h5>
                <%= link_to item.product.name, product_path(item.product.id, item.product.name) %>
              </h5>
              <h5 class="media-heading">
                sku <%= item.product.sku %>
              </h5>
            </div>
          </div>
        </td>
        <td class="col-sm-1 col-md-1" style="text-align: center">
          <%= item.quantity %>
        </td>
        <td class="col-sm-1 col-md-1 text-center">
          <strong><%= number_to_currency item.price %></strong>
        </td>
        <td class="col-sm-1 col-md-1 text-center">
          <strong><%= number_to_currency item.subtotal %></strong>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><h5>Subtotal</h5></td>
      <td class="text-right">
        <h5><strong><%= number_to_currency @order.subtotal %></strong></h5>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><h5>Estimated shipping</h5></td>
      <td class="text-right"><h5><strong>$0.53</strong></h5></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><h3>Total</h3></td>
      <td class="text-right"><h3><strong>$100.53</strong></h3></td>
    </tr>
  </table>
</div>

<div class="pull-right">
  <%= link_to '付款确认', {controller: :orders, action: :update, order: {status: :paid}}, method: :put, class: 'btn btn-primary' %>
</div>
