<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-9">

    <% if @categories. any? %>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% @categories.each_with_index do |category, index| %>
            <% if category.pictures.any? %>
              <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : ''%>"></li>
            <% end %>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @categories.each_with_index do |category, index| %>
            <div class="item <%= index == 0 ? 'active' : ''%>">
              <%= link_to products_path(category_id: category.id) do %>
                <%= image_tag category.pictures.first.url %>
              <% end %>
            </div>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      </br>
    <% end %>

    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-3 col-lg-3 col-md-3">
          <%= render 'products/product', product: product %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.carousel').carousel()
</script>

