<div class="row">
  <div class="col-md-3">
    <p class="lead">Categories</p>
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-9">
    <div class="jumbotron">
      <h3>
        We will Update our website at this year. If you cannot visit, or place orders, please write email to me directly: militaryharbor (at) hotmail (dot) com. And tell me all you need in the email. Thanks for understand.
      </h3>
      <p>Items with '' label will be free shipping service! Check them now.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <%= link_to product_path(product.id, product.name) do %>
              <%= image_tag(product.default_image(:thumb)) %>
            <% end %>

            <div class="caption">
              <h4 class="pull-right">
                <%= product.currency_price %>
              </h4>
              <h4>
                <%= link_to product.name, product_path(product.id, product.name) %>
              </h4>
              <p>See more snippets like this online store item at</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>