
<div class="container-fluid">
  <div class="page-header">
    <h1>Checkout</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= form_for(@order) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <% if cart_items.present? %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center">Total</th>
              </tr>
            </thead>
            <tbody>
              <% current_cart.cart_items.each do |item| %>
                <tr>
                  <td class="col-sm-8 col-md-6 cart-item-image">
                    <div class="media">
                      <div class="media-left">
                        <%= link_to product_path(item.product.id, item.product.name) do %>
                          <%= image_tag(item.product.default_image(:small), class: "media-object") %>
                        <% end %>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                          <%= link_to item.product.name, product_path(item.product.id, item.product.name) %>
                        </h4>
                        <h5 class="media-heading">
                          sku <%= item.product.sku %>
                        </h5>
                        <span>Status: </span>
                        <span class="text-success">
                          <strong>In Stock</strong>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td class="col-sm-1 col-md-1" style="text-align: center">
                    <%= item.quantity %>
                  </td>
                  <td class="col-sm-1 col-md-1 text-center">
                    <strong><%= number_to_currency item.product.price %></strong>
                  </td>
                  <td class="col-sm-1 col-md-1 text-center">
                    <strong><%= number_to_currency item.subtotal %></strong>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td></td>
                <td><h5>Subtotal</h5></td>
                <td class="text-right">
                  <h5><strong><%= number_to_currency current_cart.subtotal %></strong></h5>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><h5>Estimated shipping</h5></td>
                <td class="text-right"><h5><strong>$0.53</strong></h5></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><h3>Total</h3></td>
                <td class="text-right"><h3><strong>$100.53</strong></h3></td>
              </tr>
            </tbody>
          </table>
        <% end %>

        <div class="collapse" id="promo">
          <div class="form-group">
            <label for="inputpromo" class="control-label">Promo Code</label>
            <div class="form-inline">
              <input type="text" class="form-control" id="inputpromo" placeholder="Enter promo code">
              <button class="btn btn-sm">Apply</button>
            </div>
          </div>
        </div>
        <h3>Ship my order to</h3>
        <div class="list-group">
          <!-- <div class="list-group-item">
            <div class="list-group-item-heading">
              <div class="row radio">
                <div class="col-xs-3">
                  <%#= label_tag :address do %>
                    <%#= radio_button_tag 'order[address]', 0 %>
                    123 St
                  <%# end %>
                </div>
                <div class="col-xs-5">
                  <dl class="dl-small">
                    <dt>Test</dt>
                    <dd>123 St, test, PA 12345 </dd>
                  </dl>
                  <button class="btn btn-sm">Edit</button>
                  <button class="btn btn-sm btn-link">Delete this address</button>
                </div>
              </div>
            </div>
          </div> -->
          <div class="list-group-item">
            <div class="list-group-item-heading">
              <div class="row">
                <div class="col-xs-3">
                  <div class="radio">
                    <%= label_tag :address do %>
                      <%= radio_button_tag 'order[address]', 1, checked: true %>
                      New address
                    <% end %>
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="form-group">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, class: 'form-control form-control-large',
                      placeholder: 'Enter first name' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, class: 'form-control form-control-large',
                      placeholder: 'Enter last name' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :email %>
                    <%= f.text_field :email, class: 'form-control form-control-large',
                      placeholder: 'Enter email' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :phone %>
                    <%= f.text_field :phone, class: 'form-control form-control-large',
                      placeholder: 'Enter phone number' %>
                  </div>

                  <div class="row">
                    <div class="col-xs-3">
                      <div class="form-group">
                        <%= f.label :country, 'Country or Region' %>
                        <%= f.text_field :country, class: 'form-control form-control-large',
                            placeholder: 'Enter country or region' %>
                      </div>
                    </div>

                    <div class="col-xs-3">
                      <div class="form-group">
                        <%= f.label :province, 'State' %>
                        <%= f.text_field :province, class: 'form-control form-control-large',
                            placeholder: 'Enter state or province' %>
                      </div>
                    </div>

                    <div class="col-xs-3">
                      <div class="form-group">
                        <%= f.label :city %>
                        <%= f.text_field :city, class: 'form-control form-control-large',
                            placeholder: 'Enter city' %>
                      </div>
                    </div>

                    <div class="col-xs-3">
                      <div class="form-group">
                        <%= f.label :zip, 'ZIP' %>
                        <%= f.text_field :zip, class: 'form-control form-control-large',
                            placeholder: 'Enter zip' %>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :street %>
                    <%= f.text_field :street, class: 'form-control form-control-large',
                      placeholder: 'Enter address' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="checkbox">
          <label data-toggle="collapse" data-target="#gift">
            <input type="checkbox"> Remarks
          </label>
        </div>
        <div class="form-group collapse" id="gift">
          <label for="inputGift" class="control-label">Remarks</label>
          <textarea class="form-control form-control-large" rows="3"></textarea>
          <p class="help-block">256 characters left</p>
        </div>
        <h3>I'll pay with</h3>
        <div class="list-group">
<!--           <div class="list-group-item">
            <div class="list-group-item-heading">
                <div class="row radio">
                  <div class="col-xs-3">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
                      My Visa Card
                    </label>
                  </div>
                  <div class="col-xs-9">
                    <div class="row">
                      <div class="col-xs-4">
                        <dl class="dl-small">
                          <dt>Credit Card Number</dt>
                          <dd>**********1111</dd>
                        </dl>
                      </div>
                      <div class="col-xs-2">
                        <dl class="dl-small">
                          <dt>Expiration</dt>
                          <dd>07/2016</dd>
                        </dl>
                      </div>
                      <div class="col-xs-6">
                        <dl class="dl-small">
                          <dt>Billing Address</dt>
                          <dd>123 St</dd>
                        </dl>
                      </div>
                    </div>
                    <button class="btn btn-sm">Edit</button>
                    <button class="btn btn-sm btn-link">Delete this card</button>
                  </div>
                </div>
            </div>
          </div> -->
          <div class="list-group-item">
            <div class="list-group-item-heading">
                <div class="row radio">
                  <div class="col-xs-3">
                    <%= f.label :pay do %>
                      <%= f.radio_button :pay, 0, checked: true %>
                      Paypal
                    <% end %>
                  </div>
                  <div class="col-xs-9">
                    <div class="media">
                      <div class="media-body">
                        <%= f.text_field :pay_number, class: 'form-control form-control-large',
                          placeholder: 'Enter Paypal address' %>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="list-group-item-heading">
                <div class="row radio">
                  <div class="col-xs-3">
                    <%= f.label :pay do %>
                      <%= f.radio_button :pay, 1 %>
                      Western Union
                    <% end %>
                  </div>
                  <div class="col-xs-9">
                    <div class="media">
                      <div class="media-body" id="newcard">
                        We will give you our Western Union information in our reply email.
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="well">
          <%= f.submit 'Place Order', class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {

    var $order_pay_number = $('#order_pay_number')

    $('#order_pay_0').change(function(){
      $order_pay_number.attr('disabled', false)
    })

    $('#order_pay_1').change(function(){
      $order_pay_number.attr('disabled', true)
    })
  })
</script>
