<div class="row">
  <div class="col-md-3">
    <%= render 'users/sidebar' %>
  </div>
  <div class="col-md-9">
    <h1>
      Order # <%= @order.id %>
    </h1>

    <% if @order.wait_payment?%>
      <div class="alert alert-info" role="alert">
        <% if @order.paypal? %>
          <p>Please note: we will send the payment request to your paypal email address: <%= @order.user.email %></p>
          <p>Or, you can also send the payment to our paypal: <%= ENV["MH_MAIL"] %><p>
          <p>Then, after you paid, we will change your order status to: Paid. Before that, the status will be 'Wait payment'. Thanks for understand.</p>

          <p>* because of time equation, maybe we need some hours to check it.</p>
        <% else %>
          This is our Western Union account information:
          <ul class="list-unstyled">
            <li>First name: <strong>QU</strong></li>
            <li>Last name: <strong>YUAN</strong></li>
            <li>City: <strong>Shanghai</strong></li>
            <li>Country: <strong>China</strong></li>
          </ul>
          Please upload your Western Union sheet at ride side after you send the money. Make sure that sheet contain: Your name, MTCN number, transfer code and the final value. Thanks. When we pick up the money, will send out your parcel soon.
        <% end %>
      </div>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <span class="label label-primary">
            <%= @order.status.humanize %>
          </span>
        </div>
        # <%= @order.id %>
      <%= @order.created_at.strftime("%m/%d/%Y") %>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <address>
              <strong><%= @order.full_name %></strong><br>
              <%= @order.country %><br>
              <%= @order.street %><br>
              <%= @order.zip %><br>
              Phone: <%= @order.phone %><br>
              Email: <a href="mailto:#"><%= @order.email %></a>
            </address>
          </div>
          <div class="col-md-6">
            <% if @order.shipper %>
              <dl>
                <dt>Payment</dt>
                <dd><%= @order.pay.humanize %></dd>
                <dt>Shipper</dt>
                <dd><%= @order.shipper.name %></dd>
                <dt>Shipping Number</dt>
                <dd><%= @order.shipping_number %></dd>
              </dl>
            <% end %>
          </div>
        </div>
      </div>

      <table class="table">
        <% @order.order_items.each do |item| %>
          <tr>
            <td class="col-sm-8 col-md-6 cart-item-image">
              <div class="media">
                <div class="media-left">
                  <%= link_to product_path(item.product.id, item.product.name) do %>
                    <%= image_tag(item.product.default_image(:small), class: "media-object item-small") %>
                  <% end %>
                </div>
                <div class="media-body">
                  <h5>
                    <%= link_to item.product.name, product_path(item.product.id, item.product.name) %>
                  </h5>
                  <h5 class="media-heading">
                    sku <%= item.product.sku %>
                </h5>
                </div>
              </div>
            </td>
            <td class="col-sm-1 col-md-1" style="text-align: center">
              <%= item.quantity %>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong><%= number_to_currency item.price %></strong>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong><%= number_to_currency item.subtotal %></strong>
            </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td><h5>Subtotal</h5></td>
          <td class="text-right">
            <h5><strong><%= number_to_currency @order.subtotal %></strong></h5>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><h5>Shipping total</h5></td>
          <td class="text-right"><h5><strong><%= number_to_currency @order.shipping_total %></strong></h5></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><h3>Total</h3></td>
          <td class="text-right"><h3><strong><%= number_to_currency @order.total %></strong></h3></td>
        </tr>
      </table>
    </div>
  </div>
</div>
