<div class="row">
  <div class="col-md-3">
    <%= render 'users/sidebar' %>
  </div>
  <div class="col-md-9">
    <h1>
      Order # <%= @order.id %>
    </h1>

    <% if @order.wait_payment?%>
      <div class="alert alert-info" role="alert">
        <% if @order.paypal? %>
          <p>
            Please login in your paypal, and send the payment to: <strong>XXXX@XXX.com</strong>
          </p>
          <p>
            Please type your transaction code: 123456 into the payment’s remark. After you paid, please tell us your paypal transfer number: ___________. (EX.: Usually that will be combined by letters and digital numbers, like: 11A22222BC33333D) In this way, can find your payment very fast, won’t waste your time. Thanks.
          </p>
          <p>
            If you didn’t send the money after you place the order over 24 hours, we will also send an invoice to you. Please pay in 72 hours. Otherwise, your order will automatically cancelled. Thanks for understand.
          </p>
        <% else %>
          This is our Western Union account information:
          <ul class="list-unstyled">
            <li>First name: <strong>QU</strong></li>
            <li>Last name: <strong>YUAN</strong></li>
            <li>City: <strong>Shanghai</strong></li>
            <li>Country: <strong>China</strong></li>
          </ul>
          Please upload your Western Union sheet at ride side after you send the money. Make sure that sheet contain: Your name, MTCN number, transfer code and the final value. Thanks. When we pick up the money, will send out your parcel soon.
        <% end %>
      </div>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <span class="label label-primary">
            <%= @order.status.humanize %>
          </span>
        </div>
        # <%= @order.id %>
        <%= @order.created_at.strftime("%m/%d/%Y") %>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <address>
              <strong><%= @order.full_name %></strong><br>
              <%= @order.country %><br>
              <%= @order.street %><br>
              <%= @order.zip %><br>
              Phone: <%= @order.phone %><br>
              Email: <a href="mailto:#"><%= @order.email %></a>
            </address>
          </div>
          <div class="col-md-6">
            <% if @order.shipper %>
              <dl>
                <dt>Payment</dt>
                <dd><%= @order.pay.humanize %></dd>
                <dt>Shipper</dt>
                <dd><%= @order.shipper.name %></dd>
                <dt>Shipping Number</dt>
                <dd><%= @order.shipping_number %></dd>
              </dl>
            <% end %>
          </div>
        </div>
      </div>

      <table class="table">
        <% @order.order_items.each do |item| %>
          <tr>
            <td class="col-sm-8 col-md-6 cart-item-image">
              <div class="media">
                <div class="media-left">
                  <%= link_to product_path(item.product.id, item.product.name) do %>
                    <%= image_tag(item.product.default_image(:small), class: "media-object item-small") %>
                  <% end %>
                </div>
                <div class="media-body">
                  <h5>
                    <%= link_to item.product.name, product_path(item.product.id, item.product.name) %>
                  </h5>
                  <h5 class="media-heading">
                    sku <%= item.product.sku %>
                  </h5>
                </div>
              </div>
            </td>
            <td class="col-sm-1 col-md-1" style="text-align: center">
              <%= item.quantity %>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong><%= number_to_currency item.price %></strong>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong><%= number_to_currency item.subtotal %></strong>
            </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td><h5>Subtotal</h5></td>
          <td class="text-right">
            <h5><strong><%= number_to_currency @order.subtotal %></strong></h5>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><h5>Estimated shipping</h5></td>
          <td class="text-right"><h5><strong>$0.53</strong></h5></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><h3>Total</h3></td>
          <td class="text-right"><h3><strong>$100.53</strong></h3></td>
        </tr>
      </table>
    </div>
  </div>
</div>
