<div class="row">
  <div class="col-md-3">
    <%= render 'users/sidebar' %>
  </div>
  <div class="col-md-9">
    <h1>
      Order # <%= @order.id %>
    </h1>

    <% if @order.wait_payment?%>
      <div class="alert alert-info" role="alert">
        付款后自动到账 如果付款出现2.00 2.01 2.02 请按显示金额支付 支付未到账请联系微信客服
      </div>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <span class="label label-primary">
            <%= @order.status.humanize %>
          </span>
        </div>
        # <%= @order.id %>
      <%= @order.created_at.strftime("%m/%d/%Y") %>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div id="orderQrcode"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="time-item" id="msg1">
                <h5>二维码过期时间</h5>
                <div class="timer" data-seconds-left='<%= 5 %>'></div>
            </div>
          </div>
        </div>
      </div>

      <table class="table">
        <% @order.order_items.each do |item| %>
          <tr>
            <td class="col-sm-8 col-md-6 cart-item-image">
              <div class="media">
                <div class="media-left">
                  <%= link_to product_path(item.product.id, item.product.name) do %>
                    <%= image_tag(item.product.default_image(:small), class: "media-object item-small") %>
                  <% end %>
                </div>
                <div class="media-body">
                  <h5>
                    <%= link_to item.product.name, product_path(item.product.id, item.product.name) %>
                  </h5>
                  <h5 class="media-heading">
                    sku <%= item.product.sku %>
                </h5>
                </div>
              </div>
            </td>
            <td class="col-sm-1 col-md-1" style="text-align: center">
              <%= item.quantity %>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong><%= number_to_currency item.price %></strong>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong><%= number_to_currency item.subtotal %></strong>
            </td>
          </tr>
        <% end %>
<!--         <tr>
          <td></td>
          <td></td>
          <td><h5>Subtotal</h5></td>
          <td class="text-right">
            <h5><strong><%#= number_to_currency @order.subtotal %></strong></h5>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><h5>Shipping total</h5></td>
          <td class="text-right"><h5><strong><%#= number_to_currency @order.shipping_total %></strong></h5></td>
        </tr> -->
        <tr>
          <td></td>
          <td></td>
          <td><h3>Total</h3></td>
          <td class="text-right"><h3><strong><%= number_to_currency @order.total %></strong></h3></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    Console.makeQrcode(
      $("#orderQrcode").get(0),
      {
        width : 150,
        height : 150,
        colorDark : "#000",
        colorLight : "#fff",
      },
      "https://stao8.cn/register?reference_id=13"
    )
    Console.startTimer(".timer", function(element){
      $("#orderQrcode img").attr("src", "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNzQ0OWJhZDcyMSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE3NDQ5YmFkNzIxIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzQuNSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==");
      element.addClass('is-complete');
    })
  })
</script>


