<div class="print-body">
  <div class="print-title">
    <%= @paper.name %>
  </div>

<% title_number = 1 %>
<% @paper.exam_paper_elements.each_with_index do |el, idx| %>
  <div class="print-wrapper transition is-default">
    <% if el.is_title? %>
        <div  class="print-title">
          <span class="print-title-index"><%= title_number %>、</span>
          <% title_number += 1 %>
          <span class="print-title-body"><%= el.content %></span>
        </div>
    <% elsif el.is_section? %>
      <div class="print-paragraph">
        <%= el.content.html_safe %>
      </div>
    <% elsif el.is_question? %>
      <div class="print-question is-default">
        <span class="print-question-index"><%= 1 %>.</span>
        <div class="print-question-body is-student">
          <div class="talqs">
            <div class="talqs_main clearfix">
              <div class="talqs_content clearfix">
                <%= el.question_man_content&.html_safe %>
              </div>
              <% if el.question_man_answerOptionList %>
              <div class="talqs_options clearfix">
                <% el.question_man_answerOptionList.each_with_index do |answer, idx| %>
                  <ul class="talqs_options_list talqs_options_list_4 talqs_layout_complete">
                      <li class="talqs_options_rows clearfix">
                        <ul class="talqs_options_columns_1 clearfix">
                          <% answer.each do |opt| %>
                            <li class="talqs_options_columns_item clearfix">
                              <span class="talqs_options_label"><%= opt.aoVal %>. </span>
                              <div class="talqs_options_content">
                                <%= opt.content&.html_safe %>
                              </div>
                            </li>
                          <% end %>
                        </ul>
                      </li>
                  </ul>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
