<div class="row" style="position: fixed">
  <div class="col-md-2">
    <button id="print" type="button" onclick="printJS('print-body', 'html')" class="btn btn-success"><%= t("print") %></button>
  </div>

  <div id="question" class="col-md-offset-6 col-md-2" style="display: none;">
    <button type="button" class="btn btn-info"><%= t("question") %></button>
  </div>

  <div id="analyze" class="col-md-offset-6 col-md-2">
    <button type="button" class="btn btn-info"><%= t("analyze") %></button>
  </div>
</div>

<div id="print-body" class="print-body">
  <div class="print-title">
    <%= @paper.name %>
  </div>

<% title_number = 1; question_number = 1; %>
<% @paper.exam_paper_elements.each_with_index do |el, idx| %>
  <div class="print-wrapper transition is-default">
    <% if el.is_title? %>
        <div  class="print-title">
          <span class="print-title-index"><%= title_number %>、</span>
          <% title_number += 1 ; question_number = 1; %>
          <span class="print-title-body"><%= el.content %></span>
        </div>
    <% elsif el.is_section? %>
      <div class="print-paragraph">
        <%= el.content.html_safe %>
      </div>
    <% elsif el.is_question? %>
      <div class="print-question is-default">
        <span class="print-question-index"><%= question_number %>.</span>
        <% question_number += 1 %>
        <div class="print-question-body is-student">
          <div class="talqs">
            <div class="talqs_main clearfix">
              <div class="talqs_content clearfix">
                <%= el.question_man_content&.html_safe %>
              </div>
              <%= sub_question(el.question_man_childList) %>

              <% if el.question_man_answerOptionList %>
              <div class="talqs_options clearfix">
                <% el.question_man_answerOptionList.each_with_index do |answer, idx| %>
                  <ul class="talqs_options_list talqs_options_list_4 talqs_layout_complete">
                      <li class="talqs_options_rows clearfix">
                        <ul class="talqs_options_columns_1 clearfix">
                          <% answer.each do |opt| %>
                            <li class="talqs_options_columns_item clearfix">
                              <span class="talqs_options_label"><%= opt.aoVal %>. </span>
                              <div class="talqs_options_content">
                                <%= opt.content&.html_safe %>
                              </div>
                            </li>
                          <% end %>
                        </ul>
                      </li>
                  </ul>
                <% end %>
              </div>
              <% end %>
            </div>

            <div class="talqs_analyze_group">
              <div class="talqs_analyze_layer">
                <div class="talqs_answer  clearfix">
                  <label class="talqs_label">
                    【答案】
                  </label>
                  <% if el.question_man_answer %>
                    <div class="talqs_panel">
                      <% el.question_man_answer.each do |answer| %>
                        <div class="talqs_panel_item">
                          <div class="talqs_panel_item_content">
                              <%= answer.join(",").html_safe %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                  <%= sub_answer(el.question_man_childList) %>
                </div>
                <div class="talqs_analyze  clearfix">
                  <label class="talqs_label">
                    【解析】
                  </label>
                  <% if el.question_man_analysis %>
                    <div class="talqs_panel">
                      <% el.question_man_analysis.each do |analyze| %>
                        <div class="talqs_panel_item clearfix">
                          <div class="talqs_panel_item_content">
                            <%= analyze.html_safe %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                  <% if el.question_man.optionAnalysisList %>
                    <div class="talqs_panel">
                      <% el.question_man.optionAnalysisList.each do |analyze| %>
                        <div class="talqs_analyze_item">
                          <div class="talqs_analyze_item_index">
                            <%= analyze.code %>
                          </div>
                        </div>
                        <div class="talqs_panel_item clearfix">
                          <div class="talqs_panel_item_content">
                            <%= analyze.analysis&.join&.html_safe %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                  <%= sub_analyze(el.question_man_childList) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>

 <canvas id="canvas" width="760"></canvas>
<script type="text/javascript">
$(function(){
   // MathJax.Hub.Queue(function (){
   //    var canvas = document.getElementById("canvas");
   //    var main = document.getElementById("print-body");
   //    rasterizeHTML.drawHTML(main.outerHTML,canvas);
   //  })
  $(document).on("click", "#question", function(){
    $(".talqs_analyze_group").hide()
    $(this).hide()
    $("#analyze").show()
  })
  $(document).on("click", "#analyze", function(){
    $(".talqs_analyze_group").show()
    $(this).hide()
    $("#question").show()
  })

  // $(document).on("click", "#print", function(){


    // var currentPosition = document.getElementById("print-body").scrollTop;
    //   var w = document.getElementById("print-body").offsetWidth;
    //   var h = document.getElementById("print-body").offsetHeight;
    //  document.getElementById("print-body").style.height="auto";

    //   html2canvas(document.getElementById("print-body"), {

    //     // dpi: 300, // Set to 300 DPI
    //     // scale: 3, // Adjusts your resolution
    //     onrendered: function(canvas) {
    //       var img = canvas.toDataURL("image/jpeg", 1);
    //       var doc = new jsPDF('L', 'px', [h, w]);
    //       doc.addImage(img, 'JPEG', 0, 0, h, w);
    //       doc.addPage();
    //       doc.save('sample-file.pdf');
    //     }
    //   });
    //  document.getElementById("print-body").style.height="100px";
    //  document.getElementById("print-body").scrollTop = currentPosition;
    // var useWidth = document.getElementById("print-body").offsetWidth;
    // var useHeight = document.getElementById("print-body").offsetHeight;
    // console.log(useWidth, useHeight)
    // html2canvas(document.getElementById("print-body"), {
    //   onrendered: function(canvas) {
    //     var imgData = canvas.toDataURL('image/png');

    //     // Generate PDF
    //     var doc = new jsPDF('p', 'pt', 'a4');
    //     doc.addImage(imgData, 'PNG', 0, 0, canvas.width, canvas.height);
    //     doc.save('test.pdf');
    //   }
    // });
  // })

})
</script>
