Dear <%= "#{@order.first_name} #{@order.last_name}" %>
<p>Thank you for purchase from our Website.</p>

<p>Order Number: <%= @order.id %></p>
<strong>Here is your ordered items: </strong>
<table border="1">
  <tr>
    <th style="width: 70%">
      item
    </th>
    <th>
      qty
    </th>
    <th>
      price
    </th>
    <th>
      subtotal
    </th>
  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
      <td style="width: 70%">
        <%= item.product.name %>
      </td>
      <td>
        <%= item.quantity %>
      </td>
      <td>
        <strong><%= number_to_currency item.price %></strong>
      </td>
      <td>
        <strong><%= number_to_currency item.subtotal %></strong>
      </td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td><h5>Subtotal</h5></td>
    <td>
      <h5><strong><%= number_to_currency @order.subtotal %></strong></h5>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><h5>Shipping total</h5></td>
    <td><h5><strong><%= number_to_currency @order.shipping_total %></strong></h5></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><h3>Total</h3></td>
    <td><h3><strong><%= number_to_currency @order.total %></strong></h3></td>
  </tr>
</table>

<strong>Shiping Address:(Please double check again)</strong> <br>
<strong>Name: </strong><%= "#{@order.first_name} #{@order.last_name}" %> <br>
<strong>Email: </strong><%= @order.email %> <br>
<strong>Address: </strong><%= @order.street %> <br>
<strong>ZIP: </strong><%= @order.zip %> <br>
<strong>Country or Region: </strong><%= @order.country %> <br>
<strong>Phone: </strong><%= @order.phone %> <br>

<p>Please note: we will send the payment request to your paypal email address: <%= @order.email %></p>
<p>Or, you can also send the payment to our paypal: <%= ENV["MH_MAIL"] %><p>
<p>Then, after you paid, we will change your order status to: Paid. Before that, the status will be 'Wait payment'. Thanks for understand.</p>

<p>* because of time equation, maybe we need some hours to check it.</p>

