<% if current_cart.cart_items.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product</th>
        <!-- <th>Quantity</th> -->
        <th class="text-center">Price</th>
        <th class="text-center">Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% current_cart.cart_items.each do |item| %>
        <tr>
          <td class="col-sm-8 col-md-6 cart-item-image">
            <div class="media">
              <div class="media-left">
                <%= link_to product_path(item.product.id, item.product.name) do %>
                  <%= image_tag(item.product.default_image(:small), class: "media-object item-small") %>
                <% end %>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <%= link_to item.product.name, product_path(item.product.id, item.product.name) %>
                </h4>
               <!--  <h5 class="media-heading">
                  sku <%#= item.product.sku %>
                </h5> -->
               <!--  <span>Status: </span>
                <span class="text-success">
                  <strong>In Stock</strong>
                </span> -->
              </div>
            </div>
          </td>
          <!-- <td class="col-sm-1 col-md-1" style="text-align: center">
            <%#= select_tag(:quantity, options_for_select((1..20).map { |n| [n, n] }, item.quantity), class: "form-control item-quantiy", data: {url: cart_item_path(item.id)}) %>
          </td> -->
          <td class="col-sm-1 col-md-1 text-center">
            <strong><%= number_to_currency item.product.price %></strong>
          </td>
          <td class="col-sm-1 col-md-1 text-center">
            <strong><%= number_to_currency item.subtotal %></strong>
          </td>
          <td class="col-sm-1 col-md-1">
            <%= link_to cart_item_path(item.id), method: :delete, remote: true, class: "btn btn-danger" do %>
              <span class="glyphicon glyphicon-remove"></span> Remove
            <% end %>
          </td>
        </tr>
      <% end %>
<!--       <tr>
        <td></td>
        <td></td>
        <td><h5>Subtotal</h5></td>
        <td class="text-right">
          <h5><strong><%= number_to_currency current_cart.subtotal %></strong></h5>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><h5>Estimated shipping</h5></td>
        <td class="text-right"><h5><strong><%= number_to_currency current_cart.shipping_total %></strong></h5></td>
      </tr> -->
      <tr>
        <td></td>
        <td></td>
        <td><h3>Total</h3></td>
        <td class="text-right"><h3><strong><%= number_to_currency current_cart.total %></strong></h3></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <%= link_to :back, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-shopping-cart"></span><%= t('continue_shopping') %>
          <% end %>
        </td>
        <td>
          <%#= link_to checkout_path, class: 'btn btn-success' do %>
            <!-- Checkout <span class="glyphicon glyphicon-play"></span> -->
          <%# end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
