<div class="panel-group category-collapse" id="accordion<%= categories.first.parent_id %>" role="tablist" aria-multiselectable="true"
  data-update-url="<%= sort_admin_categories_url %>">
  <% categories.each do |category| %>
    <div class="panel panel-default" id="category_<%= category.id %>">
      <div class="panel-heading" role="tab" id="heading<%= category.id %>">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion<%= categories.first.parent_id %>" href="#collapse<%= category.id%>" aria-expanded="true" aria-controls="collapse<%= category.id %>">
            <%= category.id %> <%= category.path.map(&:name).join(" > ") %>
          </a>
          <div class="pull-right">
            <% if category.active? %>
              <span class="label label-success"><%= category.children.size %></span>
            <% else %>
              <span class="label label-warning"><%= category.children.size %></span>
            <% end %>
            <%= link_to '编辑', edit_admin_category_path(category), class: 'btn btn-default btn-xs' %>
          </div>
        </h4>
      </div>
      <div id="collapse<%= category.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= category.id %>">
        <% if category.children? %>
          <div class="panel-body">
            <%= render 'categories', categories: category.children %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.category-collapse').sortable({
    update: function  () {
      $.ajax({
        url: $(this).data('update-url'),
        method: 'PUT',
        data: {
          category: {
            ids: $(this).sortable('serialize', {key: 'category'})
          }
        }
      })
    }
  })
</script>
