<h1 class="page-header">Edit Category</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@category, url: admin_category_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <% unless @category.root? %>
        <div class="form-group">
          <%= f.label '选择分类级别' %>
          <%= f.select :parent_id,
            options_for_select(Category.roots.map {|category| [category.name, category.id]}.unshift(['一级类目', nil])),
            {}, class: "form-control" %>
        </div>
      <% end %>

      <%= f.submit "Submit", {class: "btn btn-primary"} %>
    <% end %>
  </div>
</div>