<%= form_for(product, url: url, method: method) do |f| %>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "input name", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, min: 0.00, step: 0.05, placeholder: "input selling price", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :display %>
        <%= f.check_box :active %>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="form-group">
        <%= f.label :sku %>
        <%= f.text_field :sku, placeholder: "input product model", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :purchase_price %>
        <%= f.number_field :purchase_price, min: 0.00, step: 0.05, placeholder: "input purchase price", class: "form-control" %>
      </div>
    </div>

    <% if f.object.new_record? && f.object.is_a?(Variant) %>
      <%= render partial: "variant_form" %>
    <% elsif !f.object.new_record? && f.object.is_a?(Variant) %>
      <%= render partial: "edit_variant_form", locals: {variant: f.object} %>
    <% end %>
    <div class="space-6"></div>
    <div class="col-lg-12 col-sm-12">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area(:description, cols: 100, rows: 20, class: "col-sm-12 col-lg-12")%>
      </div>
    </div>
  </div>

  <div class="space-6"></div>

  <div class="row">
    <div class="col-lg-11">
      <button type="submit" class="pull-right btn btn-primary">Submit</button>
    </div>
  </div>

<% end %>


