<h1 class="page-header">Products</h1>

<div class="pull-right">
  <%= link_to 'New Product', new_admin_product_path, class: 'btn btn-primary' %>
</div>

<!-- search form -->
<div class="row">

</div>


<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Display</th>
        <th>Sku</th>
        <th>Purchase Price</th>
        <th>Has Variant</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th scope="row"><%= product.id %></th>
          <th><%= product.name %></th>
          <td><%= product.price %></td>
          <td><%= product.active %></td>
          <td><%= product.sku %></td>
          <td><%= product.purchase_price %></td>
          <td><%= product.has_variant? %></td>
          <td>
            <%= link_to edit_admin_product_path(product.id) do %>
              <span class="glyphicon glyphicon-pencil"  aria-hidden="true"></span>
            <% end %>
            <%= link_to admin_product_path(product.id), method: :DELTE, "data-confirm" => "Are you cure?" do %>
              <span class="glyphicon glyphicon-trash"  aria-hidden="true"></span>
            <% end %>
          </td>
        </tr >
        <% if product.has_variant? %>
          <tr>
            <th></th>
            <th colspan="7">
              <table class="table table-bordered">
                <tbody>
                  <% product.variants.each do |variant| %>
                    <tr>
                      <th scope="row"><%= variant.id %></th>
                      <th><%= variant.name %></th>
                      <td><%= variant.price %></td>
                      <td><%= variant.active %></td>
                      <td><%= variant.sku %></td>
                      <td><%= variant.purchase_price %></td>
                      <td>
                        <% variant.properties.each do |property| %>
                          <table class="table">
                            <tbody>
                              <tr>
                                <td><%= property.key %></td>
                                <td><%= property.value %></td>
                              </tr>
                            </tbody>
                          </table>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_admin_product_path(variant.id) do %>
                        <span class="glyphicon glyphicon-pencil"  aria-hidden="true"></span>
                        <% end %>
                        <%= link_to delete_variant_admin_product_path(product.id, variant.id), method: :DELTE, "data-confirm" => "Are you cure?" do %>
                        <span class="glyphicon glyphicon-trash"  aria-hidden="true"></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </th>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>



<div class="pull-right">
  <%= paginate @products %>
</div>