<%= stylesheet_link_tag  'chapters/exam', media: 'all', 'data-turbolinks-track': 'reload' %>
<% content_for :title do %>
  <%= @exam.name  %>
<% end %>
<div class="preview_main"> <!-- print -->
  <div class="preview_cont clearfix">
    <!-- 左边目录 -->
    <!-- <div class="preview_left">
      <div class="preview_module preview_check">
          <h3 class="btn_gradient">目录</h3>
          <ul ng-init="selectedId=-1">
              <li class="ng-binding ng-scope ng-hide">未分组</li>
          </ul>
      </div>
    </div> -->

    <div class="preview_right">
      <div class="preview_fixed">
          <div class="preview_btn clearfix">
              <a id="question" href="javascript:void(0)" class="check">学生版</a>
              <a id="analyze" href="javascript:void(0)">教师版</a>
          </div>
          <div class="preview_btn2">
            <!-- <a id="print" href="javascript:void(0)" class="btn_common">打印</a> -->
          </div>
      </div>

      <div class="topic_cont" id="previewContent">
        <h2 class="blank_height no-print">
            <%= @exam.name %>
        </h2>


        <div class="breviary_module">
          <h3 class="breviary_title">选择</h3>

          <% @exam_paper_elements.each_with_index do |exam_paper_element, idx| %>
            <% next if exam_paper_element.question.proto_parent_id.present? %>
            <div class="exam_box">
              <div>
                <div class="clearfix">
                  <span class="exam_num"><%= idx + 1 %>.</span>
                  <div class="exam_question">
                    <div class="question_content clearfix">
                      <%= exam_paper_element.question.content&.html_safe %>
                    </div>
                    <!-- 题目选项 -->
                    <% if exam_paper_element.question.answer_option_list %>
                      <%= chapter_answer_options_list(exam_paper_element.question) %>
                    <% end %>

                    <!-- 答案 -->
                    <% if exam_paper_element.question.answer.present? %>
                      <%= chapter_answer_html(exam_paper_element.question.answer) %>
                    <% end %>

                    <!-- 解析 -->
                    <% if exam_paper_element.question.analysis.present? %>
                      <%= chapter_analysis_html(exam_paper_element.question) %>
                    <% end %>
                    <!-- 子题目 -->
                    <% exam_paper_element.question.childList.each_with_index do |sub_question, idx| %>
                      <div class="opt_complex">
                        <div class="complex_module">
                          <div class="complex_child clearfix">
                            <span class="complex_child_dot">（<%= idx + 1 %>）</span>
                            <div class="complex_child_exam">
                              <p class="complex_child_cont">
                                <%= sub_question.content&.html_safe %>
                              </p>
                            </div>
                          </div>
                          <!-- 答案 -->
                          <% if sub_question.answer.present? %>
                            <%= chapter_answer_html(sub_question.answer) %>
                          <% end %>

                          <!-- 解析 -->
                          <% if sub_question.analysis.present? %>
                            <%= chapter_analysis_html(sub_question) %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>

            </div>
          <% end %>
        </div>

      </div>

    </div>

  </div>
</div>

<script type="text/javascript">
$(function(){
  $(document).on("click", "#question", function(){
    $(".answer").hide()
    $(this).addClass("check")
    $("#analyze").removeClass("check")
  })
  $(document).on("click", "#analyze", function(){
    $(".answer").show()
    $(this).addClass("check")
    $("#question").removeClass("check")
  })
  $(document).on("click", "#print", function(){
    window.print()
  })
})
</script>
