<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <% if @category %>
    <% @category.ancestors.each do |ancestor| %>
      <li>
        <%= link_to ancestor.name, products_path(category_id: ancestor.id) %>
      </li>
    <% end %>
    <li class="active">
      <%= @category.name %>
    </li>
  <% else %>
    <li class="active">
      Products
    </li>
  <% end %>

</ol>

<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-9">
    <% if @category && @category.ancestry_depth.to_i >= 1 %>
    <div class="row">
      <div class="col-md-1">
        <%= favorites(@category) %>
      </div>
      <div class="col-md-offset-2 col-md-9">
        <%= form_tag(products_path, method: :get) do %>
          <%= hidden_field_tag(:category_id, @category.id) %>
          <div class="row">
            <div class="col-md-9">
               <%= text_field_tag :q, params[:q], id: "search-keys", placeholder: t("admin.category.search") %>
            </div>
            <div class="col-md-3">
            <button type="submit" class="btn btn-primary"><%= t("admin.category.search") %></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <%= render_async product_filters_path(@category.id, q: params[:q]) if @category %>

    <%= render "list" %>
  </div>
</div>

<div class="pull-right">
  <%= paginate @products %>
</div>


<script type="text/javascript">
$(function(){
  new Choices(
    document.getElementById('search-keys'),
    {
      delimiter: ',',
      editItems: true,
      maxItemCount: 5,
      removeItemButton: true,
      duplicateItemsAllowed: false
    }
  );
})
</script>
