<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <% if @category %>
    <% @category.ancestors.each do |ancestor| %>
      <li>
        <%= link_to ancestor.name, products_path(category_id: ancestor.id) %>
      </li>
    <% end %>
    <li class="active">
      <%= @category.name %>
    </li>
  <% else %>
    <li class="active">
      Products
    </li>
  <% end %>

</ol>

<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-9">
    <% if @category && @category.ancestry_depth.to_i >= 1 %>
    <div class="row">
      <div class="col-md-3">
        <%= favorites(@category) %>
      </div>
      <div class="col-md-offset-6 col-md-3">
        <%= form_tag(products_path, method: :get) do %>
          <%= hidden_field_tag(:category_id, @category.id) %>
          <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: t("admin.category.search") %>
        <% end %>
      </div>
    </div>
    <% end %>
    <%= render_async product_filters_path(@category.id) if @category %>

    <section class="courses archives section">
      <div class="container">
        <div class="row">
         <% @products.each do |product| %>
          <div class="col-lg-3 col-md-3 col-12">
            <% if @category %>
              <%= render 'products/product', product: product %>
            <% else %>
              <% if product.allow_checkout? %>
                <%= render 'products/product', product: product %>
              <% end %>
            <% end %>
           </div>
         <% end %>
        </div>
      </div>
    </section>

  </div>
</div>

<div class="pull-right">
  <%= paginate @products %>
</div>

