<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <% if @category %>
    <% @category.ancestors.each do |ancestor| %>
      <li>
        <%= link_to ancestor.name, products_path(category_id: ancestor.id) %>
      </li>
    <% end %>
    <li class="active">
      <%= @category.name %>
    </li>
  <% else %>
    <li class="active">
      Products
    </li>
  <% end %>

</ol>

<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-9">
    <%= render_async product_filters_path(@category.id) if @category %>
    <br>
    <% @products.each do |product| %>
      <% if @category %>
        <div class="col-sm-3 col-lg-3 col-md-3">
          <%= render 'products/product', product: product %>
        </div>
      <% else %>
        <% if product.allow_checkout? %>
          <div class="col-sm-3 col-lg-3 col-md-3">
            <%= render 'products/product', product: product %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="pull-right">
  <%= paginate @products %>
</div>

