<%= product_breadcrumb @product %>

<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-9">
    <h2><%= @product.name %></h2>
    <div class="row">
      <div class="col-md-6">
        <!-- images -->
        <div class="thumbnail">
          <%= image_tag @product.default_image, class: 'product-image' %>
        </div>
        <div class="row">
          <% @product.product_images.each do |image| %>
            <div class="col-md-2">
              <a class="thumbnail">
                <%= image_tag image, class: 'item-image' %>
              </a>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <%= form_tag(cart_items_path) do %>
          <%= hidden_field_tag('cart_item[product_id]', @product.id) %>
          <h3><%= @product.currency_price %></h3>

          <span>Store Item Number: <%= @product.sku %></span>
          <br>

          <%= varirants_selector @product %>

          <!-- <label>Quantity</label> -->
          <%#= number_field_tag 'cart_item[quantity]', 1, class: 'form-control', min: 1, max: 20 %>

          <%# if @product.allow_checkout? %>
            <!-- <div class="row">
              <div class="col-md-12">
                <%#= submit_tag 'Add To Cart', class: "btn btn-primary btn-product" %>
              </div>
            </div> -->
          <%# end %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>

      </div>
      <div class="panel-body">
        <% if can_read?(@product) %>
          <%= link_to t("product.view"), viewer_path(id: @product.id, name: @product.sku), class: "pull-right btn btn-success" %>
        <% end %>
        <% if @product.is_virtual? %>
          <div class="row">
            <% @product.actual_products.each do |actual_product| %>
              <div class="col-lg-4">
                <%= link_to product_path(actual_product.id, actual_product.name) do %>
                  <%= image_tag(actual_product.default_image(:thumb), class: "img-responsive") %>
                <% end %>
               <h2><%= actual_product.name %></h2>
                <p>
                  <%= link_to t("product.view"), product_path(actual_product.id, actual_product.name), class: "btn btn-default", role: "button"  %>
                  <% if can_read?(actual_product) %>
                    <%= link_to t("product.view"), viewer_path(id: actual_product.id, name: actual_product.sku), class: "pull-right btn btn-success" %>
                  <% end %>
                </p>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @product.description %>
          <%= @product.description.html_safe %>
        <% end %>
        <% if @product.detail_content %>
          <%= @product.detail_content.html_safe %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  $(function () {
    $('select#variants').change(function () {
      window.location.replace($(this).find(':selected').data('variant'))
    });

    $('.item-image').mouseover(function(){
      $('.product-image').attr('src', $(this).attr("src"))
    })
  })
</script>
