<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#"><%= @product.category.parent.name %></a></li>
  <li><a href="#"><%= @product.category.name %></a></li>
  <li class="active"><%= @product.name %></li>
</ol>

<div class="row">
  <div class="col-md-3">
      <p class="lead">Categories</p>
      <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-9">
    <h2><%= @product.name %></h2>
    <div class="row">
      <div class="col-md-6">
        <!-- images -->
        <div class="thumbnail product-image">
          <%= image_tag product_images(@product).first.file.url(:thumb) %>
        </div>
        <div class="row">
          <% product_images(@product).each do |image| %>
            <div class="col-md-2">
              <div class="thumbnail"><%= image_tag image.file.url(:thumb) %></div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <%= form_for(current_cart.cart_items.new) do |f| %>
          <%= f.hidden_field(:product_id, value: @product.id) %>
          <h3><%= @product.currency_price %></h3>

          <span>Store Item Number: <%= @product.sku %></span>
          <br>

          <%= varirants_selector @product %>

          <label>Quantity</label>
          <%= f.number_field :quantity, value: 1, class: 'form-control', min: 1 %>

          <div class="row">
            <div class="col-md-6">
              <%= f.submit 'Add To Cart', class: "btn btn-primary btn-product" %>
            </div>
            <div class="col-md-6">
              <%= link_to 'Buy Now', '', class: 'btn btn-success btn-product' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  $(function () {
    $('select#variants').change(function () {
      window.location.replace($(this).find(':selected').data('variant'))
    });
  })
</script>