<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#"><%= @product.category.parent.name %></a></li>
  <li><a href="#"><%= @product.category.name %></a></li>
  <li class="active"><%= @product.name %></li>
</ol>

<div class="row">
  <div class="col-md-3">
      <p class="lead">Categories</p>
      <%= render 'layouts/sidebar' %>
  </div>

  <div class="col-md-9">
    <h2><%= @product.name %></h2>
    <div class="row">
      <div class="col-md-6">
        <!-- images -->
        <div class="thumbnail product-image">
          <%= image_tag product_images(@product).first.file.url(:thumb) %>
        </div>
        <div class="row">
          <% product_images(@product).each do |image| %>
            <div class="col-md-2">
              <div class="thumbnail"><%= image_tag image.file.url(:thumb) %></div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <h3><%= @product.currency_price %></h3>

        <span>Store Item Number: <%= @product.sku %></span>
        <br>

        <%= varirants_selector @product %>


        <label>Quantity</label>
        <input type="number" class="form-control">

        <div class="row">
          <div class="col-md-6">
            <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-plus"></span> Add To Cart</a>
          </div>
          <div class="col-md-6">
            <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy Now</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

</style>

