<div class="row">
  <div class="col-md-12">
    <% @favorites.each do |favorite| %>
      <div class="panel panel-default">
        <div id="favorite-<%= favorite.id %>" class="panel-body">
          <div class="row">
            <div class="col-md-9">
              <%= link_to favorites_link(favorite) do %>
                <p>
                  <% if favorite.is_product? %>
                  [<%= t("course") %>] ( <%= favorite.item.category.path.map{|c| c.name}.join(" > ") %> )
                  <% elsif favorite.is_category? %>
                  [<%= t("category") %>] ( <%= favorite.item.path.map{|c| c.name}.join(" > ") %> )
                  <% end %> <%= favorite.item_name %>
                </p>
              <% end %>
            </div>
            <div class="col-md-offset-2 col-md-1">
              <%= link_to user_favorite_path(favorite), method: :DELETE, remote: true, data: { confirm: t("are_you_sure") } do %>
                <i class="glyphicon glyphicon-trash red"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-6">
    <%= paginate @favorites %>
  </div>
</div>