<ul class="nav nav-sidebar">
  <li>
    <%= link_to '概览', admin_root_path %>
  </li>
  <li>
    <%= link_to '客户管理', admin_users_path, class: 'users' %>
  </li>
  <li>
    <%= link_to '订单管理', admin_orders_path, class: 'orders' %>
  </li>
</ul>


<ul class="nav nav-sidebar">
  <li>
    <%= link_to '商品管理', admin_products_path, class: 'products' %>
  </li>
  <li>
    <%= link_to '类目管理', admin_categories_path, class: 'categories' %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li>
    <%= link_to '承运商管理', admin_shippers_path, class: 'shippers' %>
  </li>
</ul>

<script>
  $(function() {
    $('.nav-sidebar > li > a').each(function(){
      var pathname = window.location.pathname;
      if (pathname.includes($(this).attr('class'))) {
        $(this).parent('li').addClass('active')
      }
    })
  })
</script>