<%= form_tag(products_path, method: :get) do %>
  <%= text_field_tag :q, nil, class: 'form-control', placeholder: 'Search...' %>
<% end %>
<nav>
  <ul class="menu-sidebar nav nav-list">
    <% Category.roots.actived.each do |category| %>
      <li class="dropdown">
        <a href="" class="accordion-heading" data-toggle="collapse" data-target="#submenu-<%= category.id %>" data-url="<%= products_path(category_id: category.id) %>">
          <span class="nav-header-primary">
            <%= category.name %>
            <% if category.has_children? %>
              <span class="pull-right">
                <b class="caret"></b>
              </span>
            <% end %>
          </span>
        </a>

        <% if category.has_children? %>
          <ul class="menu-sidebar nav nav-list collapse" id="submenu-<%= category.id %>">
            <% category.children.actived.each do |sub_category| %>
              <li class="dropdown">
                <a href="" class="accordion-heading" data-toggle="collapse" data-url="<%= products_path(category_id: sub_category.id) %>">
                  - <%= sub_category.name%>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

</br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      We accept Payment Methods:
    </h3>
  </div>
  <div class="panel-body">
    <img src="https://www.militaryharbor.net/webimg/PAYMENT01.jpg" alt="payment" class="img-rounded img-center">
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      We use shipping methods:
    </h3>
  </div>
  <div class="panel-body">
    <img src="https://www.militaryharbor.net/webimg/SHIPPING01.jpg" alt="shipping" class="img-rounded img-center">
  </div>
</div>
<style>
</style>

<script>
  $(function () {
    $('ul.menu-sidebar li.dropdown').hover(function(event) {
      $(this).find('.menu-sidebar').stop(true, true).fadeIn();
    }, function(event) {
      $(this).find('.menu-sidebar').stop(true, true).fadeOut();
    });

    $('ul.menu-sidebar li.dropdown a').click(function(){
      window.location.replace($(this).data('url'))
    })
  })
</script>
